# Arquivos compilados/otimizados do Python
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição/empacotamento
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de testes/cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# Arquivos do Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Ambientes virtuais
venv/
.env
.venv/
env/
ENV/

# IDEs/editores
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Verificadores de tipo Python
.mypy_cache/
.dmypy.json
.dmypy.json
.pyre/
.pytype/

# Diversos
*.swp
*.swo
*.bak
*.tmp

# Manter fixtures (.json) versionadas
!*.json

